# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/tmp

# For now we want to be able to vendor this stuff, so that you don't need node
# to install and use rustdoc, only when developing.
#/dist

# This one doesn't need to be kept though
dist/data.json

# dependencies
/node_modules
/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log*
yarn-error.log
testem.log

# ember-try
.node_modules.ember-try/
bower.json.ember-try
package.json.ember-try
